* {
    box-sizing: border-box;
}

/* Colours */

:root{
    --remaro-orange: #ED714A;
    --lemon: #F8F1C6;
    --baby-blue: #C9DDFF;
    --tomato-red: #DE3F3F;
    --coal-black: #000000;
    --white: #ffffff;
}

/* All */

html{
    font-size: 100%;
    min-width: 390px;
}

body {
    
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* Top Nav */


header{
    background-color: rgb(85, 85, 43);
    background: #ffffff;
}

#top-nav{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 20fr;
    height: 70px;

}


/* Landing Page Layout */

#hero-background{
    display: flex;
    background-image:url(images/Firefly_a\ image\ for\ a\ website\ landing\ page\ that\ sells\ reycled\ clothing\ \,\ with\ a\ beige\ backgro\ 323628.jpg);
    height: 900px ;
    background-size: 100%;
    background-position: bottom;
}

#plain-remaro{
    display: flex;
    max-height: 180px;
    min-height: 20px;
}

#section-1-text{
    display: flex;
    justify-content: baseline;
}



/* Home Page Layout */

/* Recycle Layout */

/* Shop Layout */

/* Info Layout */

/* Bag Layout */

/* Type */

h1{
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 130pt;
    margin-top: 0;
}

h2{
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40pt;
}

h3{
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font: size 20pt;
}


h4{
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}
